@import "a-modern-css-reset";
@import "../../node_modules/sass-mq/mq";

$mq-breakpoints: (
  wide: 800px,
);

:root {
  --color-primary: #00c98d;
  --color-bg: #f2f2f2;
  --color-light: #f3f3f3;
  --color-dark: #22232b;
  --color-text: var(--color-dark);
  --color-white: #ffffff;
  --color-shadow: rgba(23, 11, 41, 0.12);
  --font-base-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --metric-rhythm: 2rem;
  --metric-gutter: 2rem;
  --metric-box-padding: 1rem 1rem;
  --metric-interaction-padding: 0.6rem 0.6rem;
}

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/AvenirLTStd-Medium.otf");
}

/* button reset */

button,
.c-button {
  border: 0;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow: visible;
}

body {
  font-family: var(--font-base-family);
  background-color: var(--color-white);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-header,
main,
.c-footer {
  max-width: 1326px;
  margin: 0 auto;
}

.c-btn {
  color: var(--color-white);
  background-color: var(--color-dark);
  transition: background-color 0.3s, color 0.3s;
}

.c-btn:hover,
.c-btn:focus {
  background-color: var(--color-primary);
}

/* header */
.c-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include mq($from: wide) {
    .c-header {
      justify-content: flex-start;
    }
  }
}

@include mq($from: wide) {
  .c-header__menu-btn--nav--mobile {
    display: none;
  }
}

.c-header__nav,
.c-header__nav ul {
  display: flex;
  align-items: center;
  /* width: 100%; */
}

.c-header__nav ul {
  align-items: flex-start;
}

.c-header__nav li:nth-of-type(1),
.c-header__nav li:nth-of-type(2),
.c-header__nav li:nth-of-type(3),
.c-header__nav li:nth-of-type(5) {
  display: none;

  @include mq($from: wide) {
    display: inline-block;
  }
}

@include mq($from: wide) {
  .c-header__nav li:nth-of-type(4) {
    margin-left: auto;
  }
}

.c-header__menu-btn {
  display: flex;
  align-items: center;
  padding: 27px 22px;
  transition: opacity 0.3s;
}

.c-header__menu-btn:hover,
.c-header__menu-btn:focus {
  opacity: 0.5;
}

.c-header__menu-btn--nav {
  order: 1;

  @include mq($from: wide) {
    order: 0;
  }
}

.c-header__menu-btn--nav--desktop {
  display: none;

  @include mq($from: wide) {
    display: block;
  }
}

.c-header__menu-btn--cart {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 24px;
  height: 24px;
  margin-right: 12px;

  @include mq($from: wide) {
    line-height: 58px;
    margin-right: 0;
  }
}

.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -8px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  line-height: 14px;

  @include mq($from: wide) {
    top: 2px;
    right: -8px;
  }
}

.c-header__menu-btn--cart--has-items:before {
  content: "2";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -8px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  line-height: 14px;

  @include mq($from: wide) {
    top: 2px;
    right: -8px;
  }
}

@include mq($from: wide) {
  .c-header__nav__link--login {
    padding-left: 44px;
  }
}

@include mq($from: wide) {
  .c-header__nav,
  .c-header__nav ul {
    width: 100%;
  }
}

.c-header__nav__link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  padding: 15px 21px;
  transition: color 0.3s;
  color: var(--color-text);
  text-decoration: none;
}

.c-header__nav__link:hover,
.c-header__nav__link:focus,
.c-header__nav__link--active {
  color: var(--color-primary);
}

.c-search-filters {
  display: flex;
  flex-direction: column;
  margin: 0 40px 40px 40px;

  @include mq($from: wide) {
    flex-direction: row;
  }
}

.c-search-filters__search,
.c-search-filters__filters {
  flex: 100%;
}
.c-search-filters__search {
  flex: 100%;

  @include mq($from: wide) {
    flex: 75%;
  }
}

.c-search-filters__filters {
  flex: 100%;

  @include mq($from: wide) {
    flex: 25%;
    margin-left: 40px;
  }
}

.c-search-filters__search input,
.c-search-filters__filters select {
  width: 100%;
}

.c-carousel {
  position: relative;
  overflow: hidden;
  margin-bottom: 79px;

  &:hover,
  &:focus {
    .c-carousel__arrow {
      opacity: 1;
    }
  }
}

.c-carousel__items {
  display: flex;
  align-items: center;
  transition: transform 0.35s ease-in-out;
}

.c-carousel__item {
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }

  &:after {
    content: "";
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  figcaption {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 40px;
  }
}

.c-carousel__arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 56px;
  margin: auto;
  opacity: 0;
  transition: opacity 0.3s;
}

.c-carousel__arrow--next {
  right: 30px;
}

.c-carousel__arrow--prev {
  left: 30px;
  transform: rotate(180deg);
}

.c-carousel__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  @include mq($from: wide) {
    color: var(--color-white);
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
  }
}

.c-carousel__sub-title {
  color: var(--color-white);
  font-size: 24px;
  line-height: 33px;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--color-white);
}

.c-footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

  @include mq($from: wide) {
    border-top: 1px solid #d5d5d5;
    padding-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.c-footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  @include mq($from: wide) {
    margin-left: 70px;
    order: 1;
    margin-bottom: 0;
  }
}

.c-footer__social-link {
  display: inline-block;
  padding: 21px;
  opacity: 1;
  transition: opacity 0.3s;
}

.c-footer__social-link:hover,
.c-footer__social-link:focus {
  opacity: 0.5;
}

.c-footer__nav {
  max-width: 350px;
  margin: 0 auto;

  @include mq($from: wide) {
    max-width: none;
    margin: 0;
  }
}

.c-footer__nav ul {
  display: flex;
  flex-wrap: wrap;
}

.c-footer__nav ul li {
  flex: 50%;

  @include mq($from: wide) {
    flex: initial;
  }
}

.c-footer__nav-link {
  display: inline-block;
  padding: 16px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  padding: 15px 21px;
  transition: color 0.3s;
  color: var(--color-text);
  text-decoration: none;

  @include mq($from: wide) {
    padding: 15px 35px;
  }
}

.c-footer__nav-link:hover,
.c-footer__nav-link:focus {
  color: var(--color-primary);
}

.grid {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;

  @include mq($from: wide) {
    flex-direction: row;
  }
}

.filters {
  @include mq($from: wide) {
    width: 25%;
    padding-right: 40px;
  }
}

.filters__title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #22232b;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.filters__filter-btn {
  display: flex;
  align-items: center;
  width: 100%;
  // padding-bottom: 4px;
  border-bottom: 1px solid #d5d5d5;

  img {
    margin-left: auto;
    padding: 20px;
  }
}

.range__label {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.range__input {
  width: 100%;
}

.range__scale {
  display: flex;
}

.range__scale--low,
.range__scale--high {
  flex: 50%;
}

.range__scale--high {
  text-align: right;
}

.filters__filter-list {
  display: none;

  li {
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-top: 10px;
    }

    &:last-of-type {
      margin-bottom: 10px;
    }

    input {
      width: 20px;
      height: 20px;
    }

    label {
      margin-left: 3px;
      padding: 6px 0;
      width: calc(100% - 20px);
      text-transform: capitalize;
    }
  }
}

.filters__filter-list--open {
  display: block;
}

.products-pagination {
  // display: flex;
  // flex-direction: column;
  width: 75%;
}

.products {
  display: grid;
  grid-gap: 40px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 40px !important;

  @include mq($from: wide) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product__link {
  text-decoration: none;
  color: var(--color-dark);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.product__image {
  width: 100%;
}

.product__title {
  width: 63.66%;
  background-color: var(--color-white);
  display: flex;
  align-items: flex-end;
  padding-top: 33px;
  transform: translateY(-33px);
}

.product__details {
  margin-top: -33px;
  display: flex;
  align-items: center;
}

.product__cat,
.product__price {
  flex: 50%;
}

.product__price {
  text-align: right;
}

.product__add {
  display: flex;
  width: 100%;
  padding-top: 20px;

  img {
    margin-left: auto;
    opacity: 1;
    transition: opacity 0.3;
  }

  &:hover,
  &:focus {
    img {
      opacity: 0.5;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // padding: 20px;
    width: 42px;
    height: 42px;
    text-decoration: none;
    color: var(--color-dark);
    transition: 0.3s;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    margin-right: 10px;

    &:hover,
    &:focus,
    &.active {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
}

/* product page */
.c-product-carousel {
  margin-bottom: 44px;
}

.c-product-carousel__images {
  margin-bottom: 35px;
}

.c-product-page {
  display: grid;
  grid-gap: 40px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 40px !important;
  max-width: 951px;
  margin: 0 auto;

  @include mq($from: wide) {
    grid-template-columns: 3fr 1fr;
  }
}

.c-product-page__info__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}

.c-product-page__info__desc {
  font-size: 11px;
  line-height: 15px;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.c-product-page__info__price {
  font-size: 16px;
  line-height: 22px;
}

.c-product-page__info__delivery-info {
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 24px;

  span {
    color: red;
  }
}

.c-product-page__info__colours {
  display: flex;
  align-items: center;
  margin-bottom: 57px;
}

.c-product-page__info__colours__colour {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 11px;
}

.c-product-page__info__colours__colour--1 {
  background-color: silver;
}
.c-product-page__info__colours__colour--2 {
  background-color: black;
}
.c-product-page__info__colours__colour--3 {
  background-color: gold;
}
.c-product-page__info__colours__colour--4 {
  background-color: purple;
}

.c-product-page__info__add-to-basket {
  background-color: var(--color-dark);
  transition: background-color 0.3s;
  color: var(--color-white);
  width: 100%;
  padding: 6px 0;

  &:hover,
  &:focus {
    background-color: var(--color-primary);
  }
}

.c-product-page__info__details {
  // color: var(--dark);
  // background-color: var(--white);
  border: 1px solid var(--color-dark);
  width: 100%;
  padding: 6px 0;
  margin-bottom: 19px;
}

.c-product-page__info__details-text {
  li {
    font-size: 9px;
    line-height: 12px;
  }
}

.js-button__text {
  display: none;
}

.js-button__text--show {
  display: block;
}

.c-carousel-thumbs {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.c-carousel-thumbs__img {
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}
